$accent: #436372;
$default: #585858;
$title: #243f4d;
$btn: #a3bbc8;
$bg: #fcd7b6;

%dms-regular {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
}

%dms-bold {
  font-family: "DMSans-Bold", sans-serif;
  font-weight: 700;
}
